body.section-group {
  #delete-lp-form-overlay,
  #join-group-form-overlay {
    #delete-lp-form-wrapper,
    #join-group-form-wrapper {
      button.close-overlay {
        @include svg-picto(picto-close-black);
        //background-color: transparent;
        background-color: $leaf-green;
        font-size: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        background-size: 20px;
      }
    }
  }

  h2 {
    background-color: $deep-blue;
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  #delete-lp-form-overlay #delete-lp-form-wrapper {
    .form-actions {
      margin: 2rem 0 0;
      display: flex;

      input[type="submit"] {
        background-color: $red !important;
        color: $white;
        text-decoration: none;
      }

      input[type="submit"],
      a.button {
        flex: 1 0 auto;
        background: $leaf-green;
      }
    }
  }
}

fieldset#edit-field-product,
div#edit-field-product-wrapper {

  .fieldset-wrapper {
    display: block;
    width: 100%;
  }

  legend,
  span {
    display: block;
    width: auto;
  }
}
